/* line 1, ../sass/_main.scss */

.colorful {
	color: #bb8833;
}

body {
	padding: 0;
	margin: 0;
}

div.main_content {
	display: table;
	width: 100%;
	height: 100vh;
}

div.main_content div.form_row {
	margin-top: 8px;
	margin-bottom: 8px;
}

div.main_content div.post_div {
	margin: 4px;
	border: 1px black solid;
	background-color: #eeeeee;
	padding: 4px;
}

div.main_content div.post_div .post_title {
	font-size: 120%;
}

div.main_content i.changed {
	color: #777777;
}

.content-container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.logo {
	width: 480px;
	max-width: 80%;
}

.container {
	margin-right: 0;
}

.inner-frame{
    width:100%;
	display:block;
	overflow: auto;
}

input:not([type]),
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]),
[type=file]:before {
	background: none;
	outline: 0;
}

input:not([type]),
input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]),
[type=file]:focus {
	background: none;
}

.blue {
	background: #585eaa;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

main {
	padding: 0;
}

.inner-frame {
	flex: 1;
	height: 100vh;
	border: none;
}

.left-menu {
	width: 80px;
	height: 100vh;
	background: rgb(60, 76, 89);
	text-align: center;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
	.left-menu {
		display: none;
	}
}

.menu-item {
	cursor: pointer;
	color: white;
	padding: 8px 0;
}

.menu-item.active {
	color: rgb(2, 71, 139);
	background: white;
}

.menu-item.bottom {
	position: absolute;
	bottom: 0;
	width: 80px;
}

.info-item {
	height: 30px;
	line-height: 30px;
}

.music-name {
	font-size: 1.6rem;
	color: black;
	margin-bottom: 18px;
	height: 85px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
}

.face-info {
	padding-left: 10px;
	font-size: 0.9rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.info-lable {
	margin-left: 8px;
}

.info-value {
	float: left;
}

.mine-contanier {
	position: relative;
	top: -20px;
	height: 90vh;
	margin-top: 8px;
	border-radius: 8px;
	z-index: 2;
	padding: 16px 0;
}

.container-lable {
	z-index: 999;
	position: relative;
	padding: 0 12px;
	margin-left: 16px;
	display: inline-block;
	background: #FAFAFA;
}

.music-item {
	display: flex;
	height: 40px;
	line-height: 40px;
	width: 100%;
	overflow: hidden;
	padding: 0 16px;
}

.action-container {
	width: 100px;
	display: none;
}

.music-info {
	flex: 4;
	max-width: 80%;
}

.music-item-container a:hover .action-container {
	flex: 1;
	min-width: 100px;
	overflow: hidden;
	display: inline-block;
}

.music-item-container a {
	margin-right: 8px;
}

.music-item-container a .music-item {
	background: #bdbdbd;
	margin-bottom: 8px;
}

.music-item-container a:hover .music-item {
	background: rgba(220, 220, 220, 0.8);
}

.music-dur {
	width: 80px;
	display: inline-block;
	text-align: right;
	font-size: 0.8rem;
}

.action-item {
	width: 30px;
	display: inline-block;
}

.music-item-container a:hover .music-dur {
	display: none;
}

.container-nodata {
	height: 94vh;
	display: table;
	text-align: center;
	width: 100%;
}

.nodata {
	display: table-cell;
	vertical-align: middle;
}

.playlist-container {
	border: 1px solid #595959;
}

.playlist-item {
	height: 36px;
	line-height: 34px;
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid #595959;
	padding: 6px 8px;
}

.playlist-item:last-child {
	border-bottom: none;
}

.playlist-name {
	flex: 1;
	color: #4F94CD;
}

.audiojs {
	width: 100%;
}

.audiojs .play-pause {
	width: 40px;
}

.audiojs .scrubber {
	width: 400px;
}

.slide-item {
	margin-top: 20px;
	height: 40px;
	display: flex;
}

.slide-item span {
	width: 80px
}

.slide-item .slider {
	flex: 1;
	padding-top: 6px;
}

#main {
	display: flex;
}

.bottom-nav {
	display: none;
}

.bottom-nav .menu-item {
	flex: 1;
	text-align: center;
	padding: 0;
}

.tab-item {
	min-width: 100px;
	text-align: center;
	border-bottom: 2px solid transparent;
	line-height: 40px;
	line-height: 40px;
	display: inline-block;
	cursor: pointer;
}

.tab-item.active {
	border-bottom: 2px solid #DE8100;
	color: #DE8100;
}

.float-button {
	color: white;
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 60px;
	height: 60px;
	background: #DE8100;
	opacity: 0.8;
	border-radius: 35px;
	display: table;
	text-align: center;
	z-index: 999;
}

.edit-outer{
	background: rgba(0,0,0,0.6);
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	padding:100px 40px;
	z-index: 9999;
}

.edit-inner{
	background: white;
	padding: 20px;
	width: 600px;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 20px;
}



.control-label{
	display: none;
}

.form-group input[type=submit]{

}

.layui-layer-iframe{
	max-width: 100% !important;
}

.close{
	position: relative;
	top:-6px;
	right:0;
	text-align: right;
}

@media only screen and (min-width: 100px) and (max-width: 640px) {
	.music-name {
		font-size: 1.2rem;
	}
	#main {
		display: block;
	}
	main {
		padding: 0;
	}
	.bottom-nav {
		height: 10vh;
		display: flex;
		width: 100%;
		z-index: 999;
		position: absolute;
		bottom: 0;
		border-top:1px solid gainsboro;
		background:rgb(60, 76, 89);
	}
	.inner-frame {
		width: 100%;
		height: 90vh !important;
	}
	.top-tab {
		width: 100%;
		display: flex;
	}
	.tab-item {
		flex: 1;
		text-align: center;
		border-bottom: 2px solid transparent;
		line-height: 40px;
		line-height: 40px;
	}
	.tab-item.active {
		border-bottom: 2px solid #DE8100;
		color: #DE8100;
	}
	.container>.half {
		padding: 0;
	}
	.music-item {
		padding: 0;
	}
