{{extend 'layout.html'}} {{block head}}
<title>Amazing Music</title>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	var is_logged_in = {{ = 'false' if auth.user is None else 'true'}};
	var load_audio_info_url="{{=URL('api', 'load_audio_info', user_signature=True)}}";
	var trans_audio_url="{{=URL('api', 'trans_audio', user_signature=True)}}";
</script>
<link rel="stylesheet" href="{{=URL('static', 'layui/css/layui.css')}}" />
<link rel="stylesheet" href="{{=URL('static', 'css/myapp.css')}}" />
<link rel="stylesheet" href="//at.alicdn.com/t/font_934303_eh80nja0j6d.css" /> {{end}}
<div  id="trans-audio">
	<div class="layui-container">
		<div class="layui-row">			
			<div class="layui-col-sm6  layui-col-sm-offset3">
				<div class="slide-item">
				   <span>tempo(%)</span>
				   <div  class="slider" id="slide1"></div>
				</div>
				<div class="slide-item">
					<span>pitch</span>
					<div class="slider" id="slide2"></div>
				</div>
				<div class="slide-item">
					<span>rate(%)</span>
					<div  class="slider"  id="slide3"></div>
				</div>
				<div style="text-align: center;">
					<button class="layui-btn layui-btn-radius layui-btn-normal" v-on:click="trans">submit and play</button>
				</div>
			</div>
		</div>
	</div>
	<audio id="audioplayer"></audio>
</div>
<script src="{{=URL('static', 'layui/layui.js')}}"></script>
<script>
	var params=[0,0,0]
	layui.use('slider', function() {
		var slider = layui.slider;

		//渲染
		slider.render({
			elem: '#slide1',
			min:-95,
			value:0,
			max:295,
			change: function(value){
				params[0]=value;
			}
		});
		slider.render({
			elem: '#slide2',
			min:-60,
			max:60,
			change: function(value){
				params[1]=value;
			}
		});
		slider.render({
			elem: '#slide3',
			min:-95,
			value:0,
			max:295,
			change: function(value){
				params[2]=value;
			}
		});
	});
</script>
<script src="{{=URL('static', 'js/default_edit.js')}}"></script>