{{extend 'layout.html'}} {{block head}}
<title>Amazing Music</title>
<link rel="stylesheet" href="{{=URL('static', 'css/player.css')}}" />
<link rel="stylesheet" href="{{=URL('static', 'css/myapp.css')}}" />
<link rel="stylesheet" href="//at.alicdn.com/t/font_934303_okharzpdn6.css" />
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="{{=URL('static', 'js/audio.min.js')}}"></script>
<script>
	var load_my_music_url = "{{=URL('api', 'load_my_music', user_signature=True)}}";
	var delete_my_music_url = "{{=URL('api', 'delete_my_music', user_signature=True)}}";
	var load_collection_url = "{{=URL('api', 'load_collection', user_signature=True)}}";
	var toggle_collect_url = "{{=URL('api', 'toggle_collection', user_signature=True)}}";
</script>
<script src="{{=URL('static', 'js/axios.min.js')}}"></script>
{{end}}

<div class="main_content">
	<div class="container">
		<div class="third">
			<div class="container-lable">My Music</div>
			<div class="mine-contanier">
				<div class="container-nodata" v-if="my_musics.length==0">
					<div class="nodata">
						<div><i class="iconfont icon-cdcd23" style="font-size: 6rem;"></i></div>
						<div style="color:#666666">no music uploaded</div>
						<div style="margin-top: 12px;"><button><i class="iconfont icon-cloudupload"></i><span style="margin-left: 8px;">upload</span></button></div>
					</div>
				</div>
				<div v-if="my_musics.length>0">
					<div class="music-item-container" v-for="(mymusic,index) in my_musics">
						<a>
							<div class="music-item">
								<div class="music-info">
									<div>${mymusic.audio_title}</div>
								</div>
								<div class="action-container">
									<div class="action-item"><i class="iconfont icon-069delete" v-on:click="delete_my" v-bind:data-id='mymusic.audio_id'></i></div>
									<div class="action-item"><i class="iconfont icon-modify" v-on:click="edit" v-bind:data-index='index'></i></div>
									<div class="action-item"><i class="iconfont icon-play1" v-on:click="play" v-bind:data-index='index'></i></div>
								</div>
							</div>
						</a>
					</div>

				</div>
			</div>

		</div>
		<div class="third">
			<div class="container-lable">My Collection
			</div>
			<div class="mine-contanier">
				<div class="container-nodata" v-if="mycollections.length==0">
					<div class="nodata">
						<div><i class="iconfont icon-cdcd23" style="font-size: 6rem;"></i></div>
						<div style="color:#666666">no music collected</div>
						<div style="margin-top: 12px;"><button><span style="margin-left: 8px;">go square</span></button></div>
					</div>
				</div>
				<div v-if="mycollections.length>0">
					<div class="music-item-container" v-for="(mycollection,index) in mycollections">
						<a>
							<div class="music-item">

								<div class="music-info">
									<div>${mycollection.audio_title}</div>
								</div>
								<div class="action-container">
									<div class="action-item"><i class="iconfont icon-069delete" v-bind:data-id='mycollection.audio_id'   v-on:click="deletecoll"></i></div>
									<div class="action-item"><i class="iconfont icon-modify"  v-on:click="editc" v-bind:data-index='index'></i></div>
									<div class="action-item"><i class="iconfont icon-play1" v-on:click="playcollection" v-bind:data-index='index'></i></div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>

		</div>
		<div class="third">
			<div class="container-lable">Play and Edit</div>
			<div class="mine-contanier" style="padding:16px 8px;">
				<div style="margin-top: 8px;">
					<button v-on:click="openUpload">upload new</button>
					<button v-if="playing_index>=0">edit current</button>
				</div>
				<audio preload id="player"></audio>
				<div class="playlist-container">
					<div class="playlist-item" v-for="(item,index) in playlist">
						<div class="playlist-name">${item.audio_title}</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
<script src="{{=URL('static', 'js/default_my.js')}}"></script>