{{extend 'layout.html'}} {{block head}}
<title>Amazing Music</title>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	var load_music_url = "{{=URL('api', 'load_music', user_signature=True)}}";
	var toggle_collect_url = "{{=URL('api', 'toggle_collection', user_signature=True)}}";
</script>
<link rel="stylesheet" href="{{=URL('static', 'css/player.css')}}" />
<link rel="stylesheet" href="//at.alicdn.com/t/font_934303_ypmwpketq99.css" /> {{end}}
<div>
	<div class="container" id="playlist">
		<div class="quarter" v-for="(music,index)  in musics" style="padding:0 8px;margin-bottom: 16px;">
			<div class="card" style="width:100%; height:200px">
				<div>
					<div class="rounded" style="background:url(../static/images/82fLDu4.jpg) ;">
						<div class="padded" style="padding-top: 20px;">
							<div class="music-name"><i class="fa fa-music" aria-hidden="true"></i><span style="margin-left: 12px;">${music.audio_title}</span></div>
							<div class="face-info">
								<div class="info-item"><i class="fa fa-user" aria-hidden="true"></i><span class="info-lable">Create User</span><span class="info-value">${music.audio_author}</span></div>
								<div class="info-item"><i class="fa fa-calendar" aria-hidden="true"></i><span class="info-lable">Create Time</span><span class="info-value">${music.create_time}</span></div>
							</div>
						</div>
					</div>
					<div class="black  rounded">
						<div class="music-player">
							<div class="info">
								<div class="left" style="padding-top: 12px;">
									<i style="font-size: 1.6rem;cursor: pointer;" class="iconfont" v-bind:class="music.collected==1?'icon-shoucang1':'icon-shoucang'" v-on:click="toggleCollect" v-bind:data-id="music.audio_id" v-bind:data-collected="music.collected"></i>
								</div>
								<div class="center">
									<div class="center-info">${music.audio_title}</div>
									<div class="center-info">${music.audio_author}</div>
								</div>
								<div class="right" style="padding-top: 12px;">
									<i style="font-size: 1.6rem;cursor: pointer;" class="iconfont icon-modify" v-on:click="edit"  v-bind:data-index="index"></i>
								</div>
								<div class="progress jp-seek-bar" v-bind:style="'width:'+(playing_index==index?currProgress:0) +'%'"> <span class="jp-play-bar"></span> </div>
							</div>
							<div class="controls" style="padding-top: 16px;">
								<div class="current jp-current-time"><span style="float:left;margin-left: 18px;">${playing_index==index?currtime:'00:00'}</span>
									<a class="jp-play" v-bind:class="(playing_index==index&&playing)?'icon-pause':'icon-play'" title="play" v-on:click="togglePlay" v-bind:data-index="index" style="float: right;margin-right: 18px;width:34px;height:38px;margin-top: 8px;color: white;"></a>
								</div>
								<!--<div class="volume-level jp-volume-bar">
									<span class="jp-volume-bar-value" style="width: 80%;"></span>
									<a href="javascript:;" class="icon-volume-up jp-volume-max" title="max volume"></a>
									<a href="javascript:;" class="icon-volume-down jp-mute" title="mute"></a>
								</div>-->
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="jquery_jplayer" class="jp-jplayer" style="width:100%;">
		<audio  id="audioplayer"></audio>
	</div>
</div>
<script src="{{=URL('static', 'js/default_main.js')}}"></script>