{{extend 'layout.html'}} {{block head}}
<title>Amazing Music</title>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
	 var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
<link rel="stylesheet" href="{{=URL('static', 'css/player.css')}}" />
<link rel="stylesheet" href="//at.alicdn.com/t/font_934303_eh80nja0j6d.css" />
<style>
	body {
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	
	main{
		padding: 0;
	}
	
	
	.content-iframe {
		flex: 1;
		height: 100vh;
		border: none;
	}
	
	.left-menu {
		width: 80px;
		height: 100vh;
		background: #C9CABB;
		text-align: center;
	}
	
	.menu-item {
		padding: 8px 0;
		cursor: pointer;
		color: #001F3F;
	}
	
	.menu-item.active {
		color: #DE8100;
		background: white;
	}
	
	.menu-item.bottom {
		position: absolute;
		bottom: 0;
		width: 80px;
	}
</style>
{{end}}

<div style="display: flex;" id="main">
	<div class="left-menu">
		<div class="top-manu">
			<div class="menu-item" v-bind:class="menu.active?'active':''" v-for="(menu,index) in munus" @click="switch_menu(index)">
				<div><i class="iconfont" v-bind:class="menu.icon" style="font-size: 2rem;"></i></div>
				<div>${menu.name}</div>
			</div>
		</div>
		<div class="menu-item bottom" @click="logout">
			<div><i class="iconfont icon-logout" style="font-size: 2rem;"></i></div>
			<div>logout</div>
		</div>
	</div>
	<iframe v-bind:src="'/amazingmusic/default/'+curr_page+'.html'" class="content-iframe"></iframe>
</div>
<script src="{{=URL('static', 'js/default_music.js')}}"></script>